<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hozaifa Abdalla</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/0-593.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/594-900.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/901-1256.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/1257-desktop.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<!--......................................................................................................................................... 
		.														Header of the Page
		..........................................................................................................................................-->
		<header class="primary-header container group">
			<h1 class="logo">
				<a href="/">Hozaifa <br> Abdalla</a>
			</h1>
			<h3 class="tagline">July 16&ndash;31th &mdash; Erie, PA</h3>
			<nav class="nav primary-nav">
				<ul>
	    			<li><a href="/">Home</a></li><!--
	    			--><li><a href="about.html">About</a></li><!--
	    			--><li><a href="projects.html" class="active">Projects</a></li><!--
	    			--><li><a href="experience.html">Experience</a></li><!--
	    			--><li><a href="contact.html">Contact</a></li>
    			</ul>
  			</nav>
		</header>
		<!--......................................................................................................................................... 
		.														Below Header Portion
		..........................................................................................................................................-->
			<section class="row-alt">
				<div class="lead container">
					<h3 class="green-bar projects-quote">
					<span>&quot;The purpose of learning is growth, and our minds, unlike our bodies, can continue growing as we continue to live.&quot;  
					<br>~Mortimer Adler</span></h3>
				</div>
			</section>
		<!--......................................................................................................................................... 
		.														Projects
		..........................................................................................................................................-->
			<section class="row">
			<section class="grid projects">
				<!-- Projects-->
				<h3 class="introduction-projects"><span>These are a select few of my many projects that I have done, feel free to check them out!</span></h3>
				<br>
				<br>
				<h3 class="project-heading">Projects</h3>
				<section class="teaser col-1-3">
					<h3 class="project-title">Portfolio Web Application</h3>
					<a href="http://hozaifaabdalla.com/" target="_blank">
					<img src="../static/images/portfolio.png" alt="Picture of HozaifaAbdalla.com">
	    			</a>
	    			<p>A Web Application built by me from scratch using HTML, CSS, Python, and Javascript specifically Jquery. I embedded a google map, google font, linear gradients, a full page background, and added a form in python that allows users to send me an email through the google app engine mail API that I integrated with this application. The application is fully responsive through Jquery and media queries and fit for mobile, tablet, and all devices. Currently working on making all other applications responsive. Check out the this portfolio on other devices! </p>	
				</section><!--
			--><section class="teaser col-1-3">
					<h3 class="project-title ios">IOS Quiz Applications</h3>
					<img src="../static/images/Quizios.png" alt="Picture of IOS Xcode">
	    			<p>Delve a little into IOS application development and created a few simple calculator applications and a fun quiz application. Through my endeavor in learning iphone app development I learned xcode, the storyboard, and a little objectice-C along with swift. The quiz application used a random generator and form validation and tested users on their knowledge in Anatomy and Biology through four choices. The calculator applications involved several buttons and labels. Source code for these projects are given upon request!</p>	
				</section><!-- 
			--><section class="teaser col-1-3">
					<h3 class="project-title ascii">Ascii Chan Application</h3>
					<a href="http://ascii.hozaifaabdalla.com/" target="_blank">
					<img src="../static/images/AsciiChan.png" alt="Picture of Ascii Chan Application">
	    			</a>
	    			<p>Built a fun web application called Ascii Chan with google's app engine and integrated it with a google maps API however removed it due to privacy of users. I built the front end with html and css and backend with python. I stored the information in Google's Data Store database. I memcached the information for less database queries, escaped users html input, as well as used a form built with python for users to enter information. I also used the Jinja2 Templating language with python. Try it out and post some ascii art and watch it appear below!</p>	
				</section>
				<section class="teaser col-1-3">
					<br>
					<h3 class="project-title resume">Javascript Resume</h3>
					<a href="http://resume.hozaifaabdalla.com/" target="_blank">
					<img src="../static/images/resumehoz.png" alt="Picture of Javascript Resume">
	    			</a>
	    			<p>Built an interactive resume application with javascript that reads my resume content from a JSON(Javascript Object Notation) file and dynamically displays that content within an html and css file. Through this application I have learned the javascript fundametals, principles, and advanced datastructures in the javascript lanugage such as JSON, objects, and arrays. I also implemented it with a google maps API, however removed the map due to privacy. Browse source code to see it!</p>	
				</section><!-- 
			--><section class="teaser col-1-3">
					<br>
					<h3 class="project-title resume">Responsive Template</h3>
					<a href="http://template.hozaifaabdalla.com/" target="_blank">
					<img src="../static/images/html5template.png" alt="Picture of my HTML5 Template">
	    			</a>
	    			<p>I built a complete responsive html5 and css3 template from scratch ready to go for any user to utilize. Not sure what responsive means? Responsive is when a site is designed to adapt the layout of the viewing environment to multiple devices, so instead of a webpage just being optimized for a computer it can be used for a mobile application as well. Want to test it, decrease the size of your browser on the template and watch the content format itself!</p>	
				</section><!-- 
			--><section class="teaser col-1-3">
					<br>
					<h3 class="project-title blog">Student Blog</h3>
					<a href="http://blog.hozaifaabdalla.com/" target="_blank">
					<img src="../static/images/blog-UP.png" alt="PSU Blog">
	    			</a>
	    			<p>By far my most impressive project which includes a blog that I'm building for campus events with google's app engine using a python backend. I built a complete user login system, stored user login information in cookies, used a hashing algorithm to ensure security in user passwords, and used the Google Data Store database. I also integrated the blog into json, just add "/.json" to the end of the url for evidence. This is only a beta version, coming out with more soon stay tuned!</p>	
				</section><!--
				--><section class="teaser col-1-3">
					<br>
					<h3 class="project-title ">PSU Rate My Professor Plugin</h3>
					<a href="https://chrome.google.com/webstore/detail/psu-rate-my-professor-plu/mgcgmhhcjfknhchpfnkfhkoemaglookl?hl=en" target="_blank">
					<img src="../static/images/rmp.webp" alt="PSU Rate My Professor Plugin">
	    			</a>
	    			<p>Colloborated with <a href="http://www.yehyaawad.com/">Yehya Awad</a>, a Penn State classmate and created a google plugin that adds two columns in the <a href="http://schedule.psu.edu/">student.psu.edu</a> schedule that displays the professor rating, and average grade for each professor from the<a href="http://www.ratemyprofessors.com/"> rate my professor</a> page. Used a python scraper to obtain each professors' rating and average grade and outputed it into a JSON file. The plugin also displays different colors for each element. Green indicates a good rating, red indicates a bad rating, and yellow indicates an average rating. The plugin currently has 63 users.</p>	
				</section>
				<br>
				<br>
				<br>
		<!--......................................................................................................................................... 
		.														Skills Section
		..........................................................................................................................................-->
				<h3 class="project-heading">Skills</h3>
				<section class="teaser col-1-3">
					<h3 class="project-title">Software Engineering Degree</h3>
					<a href="https://psbehrend.psu.edu/school-of-engineering/academic-programs/software-engineering" target="_blank">
					<img src="../static/images/pstate.png" alt="Penn state Logo">
	    			</a>
	    			<p>Pursuing a bachelors degree in software engineering in my third year at Penn State. Penn State is ranked the 25th best engineering university by the <a href="http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools/top-engineering-schools/eng-rankings/page+2" target="_blank">US News and World Report</a>. During my voyage here at Penn State I have learned an enormous amount of information about computer science and software engineering and intially learned programming through the C++ programming language. I am honored to be apart of Penn State and will continue to expand my hunger for knowledge!</p>	
				</section><!-- 
			--><section class="teaser col-1-3">
					<h3 class="project-title web">Web Development</h3>
					<img src="../static/images/css3.png" alt="Html5 and Css3 logo">
	    			<p>I have quite a bit of experience in web development through a series of web applications that I made listed above and specifically knowledgeable in Html5, Css3, and Javascript. I'm proficient in front end as well as backend with python. I have experience with databases as well and used the <a href="https://cloud.google.com/datastore/docs/concepts/overview" target="_blank">Google Data Store</a> in Ascii Chan and my blog. Through the blog I've built a complete user login system with python, memcached common requests, and used cookies for the login information!</p>	
				</section><!--
			--><section class="teaser col-1-3">
					<h3 class="project-title">Programming Languages</h3>
					<img src="../static/images/prog.png" alt="Programming language image">
	    			<p>I have a variety of knowledge of several programming languages. For backend I have delved with Python and created a couple applications above using python for the backend. I'm adequate in object oriented in python as well. For front end I have knowledge with HTML5, CSS3, and Javascript. I am also proficient in C++ and have a basic knowledge in Objective-C and swift. I continue to strive to learn more programming languages and currently working with PHP!</p>	
				</section>			
			</section>
		</section>
		<!--......................................................................................................................................... 
		.														Footer of the Page
		..........................................................................................................................................-->
		<footer class="primary-footer container group">
			<small>Created by Hozaifa Abdalla and hosted via Google App Engine</small>
			<nav class="nav pages">
				<ul>
	    			<li><a href="/">Home</a></li><!--
	    			--><li><a href="about.html">About</a></li><!--
	    			--><li><a href="projects.html" class="active">Projects</a></li><!--
	    			--><li><a href="experience.html">Experience</a></li><!--
	    			--><li><a href="contact.html">Contact</a></li>
    			</ul>
  			</nav>
		</footer>
	</body>
</html>

<script type="text/javascript">
		$(document).ready(function(){
			if ($(document).width() >= 594 && $(document).width() <= 850){
					$(".pages").after("<h6>Created by Hozaifa Abdalla and hosted via Google App Engine</h6>");
			}
		});
</script>